@model CRUD.DbContext.Person;
<div class="container">
    <form method="post" asp-controller="Home" asp-action="Create">
        <legend>Add Person</legend>

        <div class="form-group col-xs-6">
            <label for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control" >
            <span asp-validation-for="FirstName"></span>
        </div>

        <div class="form-group col-xs-6">
            <label for="LastName">Last Name</label>
            <input type="text" class="form-control" id="name-field" name="LastName" asp-for="LastName">
            <span asp-validation-for="LastName"></span>
        </div>

        <div class="form-group col-xs-12">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="email-field" asp-for="Email">
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-group col-xs-12">
            <label for="Country">Country</label>
            @foreach (var country in ViewBag.Country)
            {
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="country-field-@country.Id" asp-for="CountryId" value="@country.Id" />
                    <label class="form-check-label" for="country-field-@country.Id">@country.Name</label>
                </div>
            }

            <span asp-validation-for="CountryId"></span>
        </div>


        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>
        <div asp-validation-summary="All"></div>
    </form>
</div>

@section Script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
